<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 text-danger">Pizza Hut Store</p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur deleniti ducimus error, eveniet, facere nobis officiis recusandae repellendus sed suscipit tempora temporibus. Eius nihil, quaerat. Animi aperiam cumque id, itaque labore minima nam provident quam ratione. Culpa debitis expedita ipsa.</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-5">
      <img src="https://media.istockphoto.com/photos/cheesy-pepperoni-pizza-picture-id938742222?k=20&m=938742222&s=612x612&w=0&h=X5AlEERlt4h86X7U7vlGz3bDaDDGQl4C3MuU99u2ZwQ=" alt="" class="img-fluid">
    </div>
    <div class="col-md-7">
      <p class="h3">Chicken Pepparoni pizza</p>
      <p class="h4">Available Pizzas :
        <span class="fw-bold text-danger"> {{pizzaCount}} </span>
      </p>
      <button class="btn btn-danger" (click)="clickBuyPizza()">Buy Pizza</button>
    </div>
  </div>
</div>
